@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


.flex{
    display: flex;
}

.info-cards {
    flex-flow: row wrap;
    margin: 5%;
    height: 20%;
    font-family: "Nunito";
    color: #000000;
    background-color: #4772ff;
}

.card-details {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 5%;
}
